.main-content {
  padding: 0 40px;
}
.box {
  width: 100%;
  display: flex;
  margin: 32px 0;
}

.box img,
.box-text {
  width: 50%;
}
.box-text {
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-2-list {
  list-style-type: disc;
}
.section-2-text {
  text-align: left;
}
@media (max-width: 768px) {
  .box {
    flex-direction: column !important;
    align-items: center;
  }
  .box img,
  .box-text {
    width: 100%;
  }
  .box-text {
    padding: 35px 43px;
  }
}

@media (max-width: 600px) {
  .main-content {
    padding: 0 8px;
  }
}
/* footer lnks section css */
