:root {
  --color-primary: #006241;
  --color-secondary: #d50032;
  --color-extra: #d4e9e2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-smoothing: antialiased;
}
a {
  color: rgba(0, 0, 0, 0.87);
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

section a {
  color: #fff;
}

.bg-primary {
  background-color: var(--color-primary);
  color: #fff;
}
.bg-secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.bg-extra {
  background-color: var(--color-extra);
  color: rgba(0, 0, 0, 0.87);
}
.bg-dark {
  background-color: var(--color-dark);
  color: rgba(0, 0, 0, 0.87);
}

/* Text Styling */
.text-center {
  text-align: center;
}

.text-xl {
  font-size: 50px;

  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-lg {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text-md {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.text-sm {
  font-size: 19px;
  margin-bottom: 20px;
}

/* Padding */
.py-sm {
  padding: 10px 0;
}
.py-md {
  padding: 20px 0;
}
.py-lg {
  padding: 40px 0;
}
/* Navbar */
